#banner{
	width: 100%;
	height: 200px;
}

.nav-tabs{
	background-color: lightgrey;  
}
.nave{
	width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: dodgerblue;
}

h1{
	text-align: center;
    margin-top: 2%;
}