<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Portal</title>
	    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/atividade.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>			
			<img id="banner" src="../static/img/Programming.png">			
			<ul class="nav nav-tabs">
			  <li class="nav-item nave">
			    <a class="nav-link active" href="../templates/index.html">Home</a>
			  </li>
			  <li class="nav-item nave">
			    <a class="nav-link" href="#">O Projeto</a>
			  </li>
			  <li class="nav-item nave">
			    <a class="nav-link" href="#">Equipe</a>
			  </li>
			  <li class="nav-item nave">
			    <a class="nav-link" href="../templates/atividade.html">Atividades</a>
			  </li>
			  <li class="nav-item nave">
			    <a class="nav-link" href="#">Contato</a>
			  </li>
			</ul>
		</header>
		<main>
			<div class="container">
				<h1>Aula 1: Vivo ou Morto</h1><br>

				<h4>Estrutura Curricular</h4>

				Modalidade / Nível de Ensino: Ensino Infantil <br>
				Componente Curricular: Computação<br>
				Tema: Introdução à representação binária<br><br>

				<h4>O que o aluno aprenderá com esta aula</h4>
				O aluno irá aprender a trabalhar com outras formas de representação além da decimal, através de atividades comuns ao dia-a-dia da criança, como por exemplo a brincadeira Vivo ou Morto, porém utilizando a representação binária para coordenar a atividade.<br><br>

				<h4>Duração da atividade</h4>
				1 hora<br><br>

				<h4>Conhecimentos prévios para o professor</h4>
				Nesta aula será trabalhado um conceito muito importante na computação: os números binários, ou seja, números de base 2, contados de 2 em 2 números (utilizando os números 0 e 1), ao contrário do decimal, no qual contamos de 10 em 10 números ( utilizando os números de  0 ao 9).
				Na elétrica e na computação o 0 representa a ausência de sinal elétrico, enquanto o 1 representa a presença. <br><br>

				<h4>Estratégias e recursos da aula</h4>
				Espaço:  Espaço amplo, como pátios ou quadras<br>
				Materiais: Folhas sulfites e canetinha.<br><br>

				<h4>Atividade 1 : Fala</h4>
				Duração: 10 minutos<br><br>

				Propor para a sala a brincadeira de “Vivo e Morto” tradicional. Para essa brincadeira, todos os alunos e o professor ficam de pé. O professor será o primeiro líder, que ficará de frente para as crianças, dando instruções a serem seguidas pelas mesmas. Quando o líder disser  “Morto!”, as crianças devem agachar. Porém, se for dito “Vivo!” as crianças devem se levantar. A sequência e velocidade das instruções pode variar de acordo com preferência do líder, sendo que para dificultar a brincadeira, o líder pode dar uma instrução, porém realizar o oposto, fazendo com que muitas crianças imitem o que vêem e não o que ouvem, errando assim.  Quem não cumprir ou errar o comando é eliminado, até ficar somente um participante, que será o vencedor e o próximo líder. <br><br>

				<h4>Atividade 2 : Gestos</h4>
				Duração: 10 minutos<br><br>

				Propor uma continuação para a brincadeira de “Vivo ou Morto”, porém agora, a diferença é que o líder não pode se comunicar pela fala, restringindo-se, assim, à gestos. Novamente, o primeiro líder será o professor, para que este possa guiar a brincadeira. Para representar o “Vivo” o líder deve levantar a mão, e para representar o “Morto” o líder deve abaixar a mão. Os mesmos critérios de dificuldade da Atividade 1 podem ser utilizados nessa atividade.<br><br>

				<h4>Atividade 3: Binário com placa</h4>
				Duração: 20 minutos<br><br>

				A brincadeira irá prosseguir “Vivo ou Morto”, porém agora será utilizado outra forma de representação, utilizando placas construídas com papel sulfite e canetinha preta. Para representar o “Vivo” será utilizado uma placa, no qual estará escrito o número 1, e para representar o “Morto” será utilizado uma placa, no qual estará escrito o número 0. As demais regras segue as especificações da Atividade 1.<br><br>

				<h4>Atividade 4: Binário com pulso</h4>
				Duração: 20 minutos<br><br>

				Para finalizar a brincadeira, será realizado uma última versão, no qual agora, utiliza-se uma forma de iluminação (leds e variações) para representar o pulso. Novamente, o primeiro líder será o professor, e ele deverá sinalizar o “Vivo” através de um pulso, ou seja, o objeto emitirá, apenas uma vez e brevemente, a luz, enquanto que para sinalizar o  “Morto”, será utilizado dois pulsos, ou seja, a luz será emitida duas vezes consecutivas, com uma breve pausa entre elas. As demais regras segue as especificações da Atividade 1.<br><br>

				<h4>Reflexões e Questionamentos</h4>
				O professor deve explicar para as crianças que nós humanos no dia-a-dia contamos de 10 em 10 números, utilizando os números de 0 a 9. Porém, a máquina só entende dois números: 0, que representa a ausência de sinal e 1, que representa a presença de sinal. Retomar os conceitos trabalhados anteriormente de presença e ausência de sinal.<br><br>

				<h4>Recursos Complementares</h4><br>				
				<a href="https://classic.csunplugged.org/wp-content/uploads/2015/03/CSUnplugged_OS_2015_v3.1.pdf">Atividade 1 (página 3) CS Unplugged</a> <br>
				<a href="https://csunplugged.org/en/topics/binary-numbers/"> Binary Numbers </a><br>
				<a href="http://kids.pplware.sapo.pt/kids/vamos-aprender-a-contar-ate-10-em-binario/">Contando em binário</a><br>
			</div>
		</main>
	</body>
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/popper.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</html>